<footer>
    <div class="row">
        <div class="medium-12 column text-center">
            <h1>Zianturi</h1>
            <h3>Music Course</h3>
            <div class="row">
                <div class="medium-6 large-4 column">
                    <h2><i class="fa fa-phone" aria-hidden="true"></i></h2>
                    <br>
                    <h3><a href="tel:0815-7889-7636">0815-7889-7636</a></h3>
                </div>
                <div class="medium-6 large-4 column">
                    <h2><i class="fa fa-envelope" aria-hidden="true"></i></h2>
                    <br>
                    <h3><a href="mailto:contact@zianturi.com">contact@zianturi.com</a></h3>
                </div>
                <div class="medium-12 large-4 column">
                    <h2><i class="fa fa-map-marker" aria-hidden="true"></i></h2>
                    <br>
                    <h3><a href="https://www.google.co.id/maps/place/Zianturi+Music+Course/@-7.7804957,110.3870651,15z/data=!4m5!3m4!1s0x0:0x9d87af28ec3ab249!8m2!3d-7.7804957!4d110.3870651" target="_blank">Kepuh GK 3 / 952, Yogyakarta, Indonesia</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row show-for-medium">
        <div class="medium-12 column menu-centered">
            <ul class="menu">
            <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Beranda</a> </li>
            <li><a href="kursus.html"><i class="fa fa-get-pocket" aria-hidden="true"></i>Pilih Kursus</a></li>
            <li><a href="daftar.html"><i class="fa fa-list" aria-hidden="true"></i>Pendaftaran</a></li>
            <li><a href="kontak.html"><i class="fa fa-location-arrow" aria-hidden="true"></i>Kontak</a></li>
            </ul>
        </div>
    </div>
        <div class="row hide-for-medium">
        <div class="medium-12 column menu-centered">
            <ul class="vertical menu">
            <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Beranda</a> </li>
            <li><a href="kursus.html"><i class="fa fa-get-pocket" aria-hidden="true"></i>Pilih Kursus</a></li>
            <li><a href="daftar.html"><i class="fa fa-list" aria-hidden="true"></i>Pendaftaran</a></li>
            <li><a href="kontak.html"><i class="fa fa-location-arrow" aria-hidden="true"></i>Kontak</a></li>
            </ul>
        </div>
    </div>
</footer>
