<div class="top-bar show-for-medium hide-for-small">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><strong>Zianturi</strong> | Music Course</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Beranda</a> </li>
            <li><a href="kursus.html"><i class="fa fa-get-pocket" aria-hidden="true"></i>Pilih Kursus</a></li>
            <li><a href="daftar.html"><i class="fa fa-list" aria-hidden="true"></i>Pendaftaran</a></li>
            <li><a href="kontak.html"><i class="fa fa-location-arrow" aria-hidden="true"></i>Kontak</a></li>
        </ul>
    </div>
</div>
<ul class="vertical menu hide-for-medium" data-accordion-menu>
    <li> <a href="#"><strong>ZIANTURI</strong> | Music Course</a>
        <ul class="menu vertical nested">
            <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Beranda</a> </li>
            <li><a href="kursus.html"><i class="fa fa-get-pocket" aria-hidden="true"></i>Pilih Kursus</a></li>
            <li><a href="daftar.html"><i class="fa fa-list" aria-hidden="true"></i>Pendaftaran</a></li>
            <li><a href="kontak.html"><i class="fa fa-location-arrow" aria-hidden="true"></i>Kontak</a></li>
        </ul>
    </li>
</ul>
